@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0f172a;
  --color-muted: #e2e8f0;
  --color-tertiary: #64748b;
  --color-surface: #ffffff;
  --color-accent: #3b82f6;
  --color-secondary: #f1f5f9;
  --color-content: #0f172a;
  --color-background: #ffffff;
}

.dark {
  --color-primary: #ffffff;
  --color-muted: #262626;
  --color-tertiary: #a3a3a3;
  --color-surface: #000000;
  --color-accent: #404040;
  --color-secondary: #171717;
  --color-content: #ffffff;
  --color-background: #000000;
}

* {
  transition-property: background-color, border-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
